@media (max-width: 1000px) {
  .container_comp {
    thead {
      display: none;
    }
    td {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
    td::before {
      content: attr(data-th) ": ";
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}
