body {
  background-image: url(../assets/build.jpg);
}

/* Message */
#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
h2,
.cadastro {
  color: #fff;
}

#fade .spinner-border {
  width: 60px;
  height: 60px;
}

.hide {
  display: none !important;
}

#message {
  width: 40%;
}

.alert.alert-light p {
  border-bottom: 1px solid #333;
  padding: 1.2em 0;
}
/* Form */
#address-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#address-form input {
  width: 300px;
}
#address-form select {
  width: 300px;
}

#order-form-container {
  margin: 5rem;
}
#order-form-container select {
  padding: 1rem 0.75rem;
}

#order-form-container .form-floating > label {
  left: 1em;
}

#order-form-container label:disabled {
  color: #000;
}

/* Responsive */
@media (min-width: 500px) {
  #save-btn {
    width: 8em;
  }
}
.situacao {
  margin-top: -2em;
}

.submit-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: -10px;
}

.btCadastro {
  width: 130px;
  background-color: #1488d6;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2em;
}

form .btCadastro:hover {
  background-color: #0099ff;
}
