.container-caixa {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: url(../assets/build.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container-company {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-company form .container-formc {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  width: 100%;
  border-radius: 10px;
  padding: 25px 30px;
  gap: 0 20px;
  margin-bottom: 100px;
}
.container-formc {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
}

.container-company form h2 {
  text-align: center;
  width: 80%;
  color: #fff;
}
.container-company .formc label {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
}

.container-company .formc label span {
  font-weight: bold;
  margin-bottom: 0.7em;
  color: #fff;
  font-size: 0.7em;
}

.container-formc .input-caixa-date {
  width: 230px;
}
.container-formc .input-caixa-select {
  width: 230px;
}
.container-formc select {
  height: 46px;
}

.container-company .formc input,
select {
  background-color: #e7e6e6;
  color: #000;
  border: 1px solid #020202;
  border-radius: 2px;
  padding: 10px 8px;
  outline: none;
  margin-bottom: 1em;
  border-radius: 5px;
}

.container-company form input::placeholder {
  color: #aaa;
}
.container-company select {
  width: 100%;
}
.container-company form select {
  color: #000;
}
.container-company .checkcaixa {
  display: flex;
  color: #fff;
  font-size: 15px;
  gap: 5px;
}
.container-company .checkcaixa label {
  margin-top: 2px;
}
.container-company .formc button {
  background-color: #1488d6;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 8px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.8;
  font-size: 1.2em;
  margin-top: 17px;
}

.container-company form button {
  width: 200px;
}

.container-company input:disabled {
  cursor: not-allowed;
  background-color: #000;
}

.container-company form button:hover {
  opacity: 1;
}

.container-company .btn-error {
  background-color: #ccc;
}

.container-company .hide {
  display: none;
}

.container-company form .input-errorc {
  border: 1px solid red;
}

.container-company .submit-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-company form .error-messagec {
  color: #fff916;
  font-size: 14px;
  margin-top: -14px;
}

@media (max-width: 584px) {
  .container-company form .container-formc {
    max-width: 100%;
  }
}

.container-company form input:disabled {
  background-color: #fff;
  cursor: not-allowed;
}

.submit-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: -10px;
}

.btCadastro {
  width: 130px;
  background-color: #1488d6;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2em;
}

form .btCadastro:hover {
  background-color: #0794f3;
}
